@media (max-width: 1550px) {
    .jury__item:nth-child(10n) .jury__info {
        right: 0;
    }
}

@media (max-width: 1365px) {
    .jury__item:nth-child(n) .jury__info {
        right: auto;
    }
    .jury__item:nth-child(9n) .jury__info {
        right: 0;
    }
}

@media (max-width: 1235px) {
    .jury__item:nth-child(n) .jury__info {
        right: auto;
    }
    .jury__item:nth-child(8n) .jury__info {
        right: 0;
    }
}

@media (max-width: 1100px) {
    .jury__item:nth-child(n) .jury__info {
        right: auto;
    }
    .jury__item:nth-child(7n) .jury__info {
        right: 0;
    }
}

@media (max-width: 970px) {
    .jury__item:nth-child(n) .jury__info {
        right: auto;
    }
    .jury__item:nth-child(6n) .jury__info {
        right: 0;
    }
}

@media (max-width: 840px) {
    .jury__item:nth-child(n) .jury__info {
        right: auto;
    }
    .jury__item:nth-child(5n) .jury__info {
        right: 0;
    }
}

@media (max-width: 707px) {
    .jury__item:nth-child(n) .jury__info {
        right: auto;
    }
    .jury__item:nth-child(4n) .jury__info {
        right: 0;
    }
}

@media (max-width: 575px) {
    .jury__item:nth-child(n) .jury__info {
        right: auto;
    }
    .jury__item:nth-child(3n) .jury__info {
        right: 0;
    }
}

@media (max-width: 445px) {
    .jury__item:nth-child(n) .jury__info {
        right: auto;
    }
    .jury__item:nth-child(2n) .jury__info {
        right: 0;
    }
}

@media (max-width: 1255px) {
    .header {
        &__menu {
            display: none;
        }

        &__langs {
            display: none;
        }

        &__btn {
            display: block;
        }
    }

    .slider {
        display: none;
    }

    .content__wrapper {
        width: 100%;

        &:before {
            display: none;
        }
    }
}

@media (max-width: 950px) {
    .jury__top {
        flex-direction: column;
    }

    .jury__years {
        margin: 0 0 20px 0;
    }
}

@media (max-width: 850px) {
    .content__description {
        padding: 0;
        margin: 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .content__info {
        margin: 0 auto;
    }

    .content__btn-group {
        flex-direction: column;
    }

    .btn--apply {
        margin-bottom: 20px;
    }
}

@media (max-width: 730px) {
    .content__title {
        margin-top: 220px;
    }
}

@media (max-width: 690px) {
    .jury__years {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px 10px;
        align-items: center;
        margin-bottom: 70px;
    }

    .jury__years-item {
        border: 1px solid $palette-year-bg !important;
    }
}

@media (max-width: 560px) {
    .content__title {
        font-size: 60px;
    }

    .content__info-item {
        margin: 0 !important;
    }

    .content__data {
        font-size: 26px;
    }

    .main__pixels, .bottom__pixels {
        display: none;
    }
}

@media (max-width: 450px) {
    .jury__years {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 110px;
    }
}

@media (max-width: 420px) {
    .content__wrapper:before {
        display: none;
    }
    .content__title {
        margin-top: 120px;
        font-size: 50px;
        line-height: 56px;
        margin-bottom: 20px;
    }

    .content__info-item {
        margin: 0;
    }

    .content__data {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .jury {
        text-align: center;

        &:before, &:after {
            display: none;
        }

        &__items {
            justify-content: center;
        }
    }
}
